<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Task manager</title>
</head>
<body style="background-color: black">
    <button style="margin-left: 35%; margin-top: 25%; background-color: white; width: 65px; height: 45px; font-size: 20px;"><a style="color: black" href="/tasks/">Tasks</a></button>
    <button style="margin-left: 5%; background-color: white; width: 65px; height: 45px; font-size: 20px;"><a style="color: black" href="tasks/diets/">Diets</a></button>
</body>
</html>